*{
    margin:0;
    padding: 0;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: hsla(339, 100%, 58%, 0.815); 
    text-shadow: #FC0 1px 0 10px;
}

body{
    text-align: center;
    background-color: #AF90A9;
    background-image: url('Blush Wave Desktop Wallpaper.jpg');
    background-size: cover;
    background-position: center; 
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    gap: 1.5vmin;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
}
   


.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(146, 39, 119, 0.3);
    font-size:8vmin ;
    color: #b83e61;
    background-color: rgb(223, 171, 103);
}
#reset-game {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #d6822f;
    border-radius: 1rem;
    border: none;
  }
  
  #new-game {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #c9ab49;
    border-radius: 1rem;
    border: none;
  }
  
  #result {
    color: #e2ca53;
    font-size: 5vmin;
  }
  
  .result-display {
    height: 100vmin;
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .hide {
    display: none;
  }